[defaults]
# Paths are relative to this file.
inventory = inventories/homelab/hosts.yaml
roles_path = roles
collections_path = collections
callback_result_format = yaml

[connection]
pipelining = true
